.descricao-categoria {
  font-size: 1rem;
  color: #555;
  line-height: 1.6;
  margin-bottom: 40px;
}

/* Grade dos cards */
.grid-categorias {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-bottom: 30px;
}

/* Card base */
.card {
  background-color: #e6e6e6;
  height: 140px;
  border-radius: 10px;
  transition: transform 0.3s, background 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  background-color: #dcdcdc;
}

