* {
    box-sizing: border-box;
}

body {
    font-family: var(--fonte-texto);
    margin: 0;
    padding: 0;
    color: var(--cor-texto);
}

h2 {
    font-family: var(--fonte-titulo);
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: var(--espacamento-pequeno);
}

p {
    font-size: 1.1rem;
}

a {
    text-decoration: none;
}

.container {
    max-width: var(--largura-maxima-conteudo);
    margin: 0 auto;
    padding: 20px 100px;
}

.section-size {
    height: 87vh;
}

.org {
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-texture {
    background-size: cover;
    background-position: center center;
    background-image: url(/assets/images/fundo.png);
}

.section-texture-2 {
    background-size: cover;
    background-position: center center;
    background-image: url(/assets/images/fundo-secundario.svg);
}