:root {
    --cor-primaria: #F2C016;
    --cor-secundaria: #1B8EF2;
    --cor-texto: #37474F;
    --cor-fundo: #F7F9F9;
    --cor-borda-suave: #ECEFF1;
    --cor-sucesso: #4CAF50;
    --cor-alerta: #FF9800;
    --branco: #FFFFFF;
    --black: #000000;

    --fonte-titulo: 'Poppins', Sans-serif;
    --fonte-texto: 'Lato', serif;
    --tamanho-base: 16px;

    --espacamento-pequeno: 8px;
    --espacamento-medio: 16px;
    --espacamento-grande: 32px;

    --largura-maxima-conteudo: 1200px;
    --raio-borda: 8px;

    --sombra-card: 0 4px 8px rgba(0, 0, 0, 0.05);
}