.header {
    border-bottom: 1px solid #f1f1f1;
}

.header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--espacamento-medio);
}

/* .brand{
    font-family: var(--fonte-logo);
    font-size: 32px;
} */

.nav {
    display: flex;
    gap: var(--espacamento-grande);
    align-items: center;
}

.nav a {
    color: var(--cor-texto);
    text-decoration: none;
    font-weight: 500;
}

.actions {
    display: flex;
    gap: 12px;
    align-items: center;
}

.btn-login {
    background: #000;
    color: #fff;
    padding: 10px 14px;
    border-radius: var(--raio-borda);
    border: none;
    cursor: pointer;
}

.hamburger {
    display: none;
}



@media (max-width: 768px) {
    .container-header {
        padding: 1rem 2rem;
    }

    .nav {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 80px;
        right: 0;
        background-color: #fff;
        width: 200px;
        border-radius: 8px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        padding: 1rem;
    }

    .nav.active {
        display: flex;
    }

    .hamburger {
        display: block;
    }

    .actions {
        display: flex;
        gap: var(--espacamento-grande);
        align-items: center;
    }

}